body {
    text-align: center;
    background-color: white;
}

.b1 {
    border-width: 2px;
    border-color: blueviolet;
    border-style: solid;
    border-radius: 5px;
    margin: 5px;
    font-weight:bold;
    font-size: 200%;
    width: 6%;
    height: 7%;
    /* background-color: purple; */
    color: black;
}

.b1:hover {
    color: white;
    background-color: black;
}

.b {
    font-weight:bold;
    font-size: 200%;
    width: 6%;
    height: 7%;
    /* background-color: black; */
    color: black;
}

button {
    width: 100%;
}

h1 {

    border-width: 3px;
    border-color: blue;
    border-style: solid;
    padding:10px;
    margin: 0px 35% 0% 35%  ;
    color: rgba(0, 0, 255,0.95);
    background-color: white;
    border-radius: 50px;
}

.circle {
    width: 200px;
    height: 200px;
    background-color: blue;
    transition: 3s;
}

.circle:hover {
    border-radius: 50%;
    background-color: magenta;
}  